USE [master]
GO
/****** Object:  Database [SYEL1]    Script Date: 01.11.2023 23:49:37 ******/
CREATE DATABASE [SYEL1]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SYEL1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SYEL1]
GO
/****** Object:  Table [dbo].[book]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[id_book] [int] IDENTITY(1,1) NOT NULL,
	[author] [varchar](100) NOT NULL,
	[image] [varchar](max) NOT NULL,
	[summary] [varchar](max) NULL,
	[title] [varchar](100) NOT NULL,
	[txt] [varchar](max) NULL,
	[year_of_publication] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_book] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_genre]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_genre](
	[book] [int] NOT NULL,
	[genre] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_similar]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_similar](
	[book] [int] NOT NULL,
	[similar] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_tag]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_tag](
	[book] [int] NOT NULL,
	[tag] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[password] [varchar](30) NOT NULL,
	[login] [varchar](30) NOT NULL,
	[role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genre]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genre](
	[id_genre] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_genre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[client] [int] NOT NULL,
	[book] [int] NOT NULL,
	[id_history] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[liked]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liked](
	[client] [int] NOT NULL,
	[book] [int] NOT NULL,
	[id_liked] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tag]    Script Date: 01.11.2023 23:49:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tag](
	[id_tag] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[book_genre]  WITH CHECK ADD  CONSTRAINT [FK9amvxn2h28xvss7bql4g54md3] FOREIGN KEY([book])
REFERENCES [dbo].[book] ([id_book])
GO
ALTER TABLE [dbo].[book_genre] CHECK CONSTRAINT [FK9amvxn2h28xvss7bql4g54md3]
GO
ALTER TABLE [dbo].[book_genre]  WITH CHECK ADD  CONSTRAINT [FKrmxv33hfq79tx4sxrh0wk9k7n] FOREIGN KEY([genre])
REFERENCES [dbo].[genre] ([id_genre])
GO
ALTER TABLE [dbo].[book_genre] CHECK CONSTRAINT [FKrmxv33hfq79tx4sxrh0wk9k7n]
GO
ALTER TABLE [dbo].[book_similar]  WITH CHECK ADD  CONSTRAINT [FK8aekvguuiw4b3s87kogf2rx9m] FOREIGN KEY([similar])
REFERENCES [dbo].[book] ([id_book])
GO
ALTER TABLE [dbo].[book_similar] CHECK CONSTRAINT [FK8aekvguuiw4b3s87kogf2rx9m]
GO
ALTER TABLE [dbo].[book_similar]  WITH CHECK ADD  CONSTRAINT [FKr0c2jc15gaqdsh4sp3ln0lmwo] FOREIGN KEY([book])
REFERENCES [dbo].[book] ([id_book])
GO
ALTER TABLE [dbo].[book_similar] CHECK CONSTRAINT [FKr0c2jc15gaqdsh4sp3ln0lmwo]
GO
ALTER TABLE [dbo].[book_tag]  WITH CHECK ADD  CONSTRAINT [FKcavs821038xf8f387kh2rp01x] FOREIGN KEY([book])
REFERENCES [dbo].[book] ([id_book])
GO
ALTER TABLE [dbo].[book_tag] CHECK CONSTRAINT [FKcavs821038xf8f387kh2rp01x]
GO
ALTER TABLE [dbo].[book_tag]  WITH CHECK ADD  CONSTRAINT [FKhfc19vdkl4c4ptgv3e4nf6kl8] FOREIGN KEY([tag])
REFERENCES [dbo].[tag] ([id_tag])
GO
ALTER TABLE [dbo].[book_tag] CHECK CONSTRAINT [FKhfc19vdkl4c4ptgv3e4nf6kl8]
GO
ALTER TABLE [dbo].[client]  WITH CHECK ADD  CONSTRAINT [FKfquxygoh8xxfe03qoh9875jaq] FOREIGN KEY([role])
REFERENCES [dbo].[role] ([id_role])
GO
ALTER TABLE [dbo].[client] CHECK CONSTRAINT [FKfquxygoh8xxfe03qoh9875jaq]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK4h7rhv8vhmuqoc9tc7kkoit2y] FOREIGN KEY([book])
REFERENCES [dbo].[book] ([id_book])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK4h7rhv8vhmuqoc9tc7kkoit2y]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FKtpm6ls3xu48gs4ehulipteyjy] FOREIGN KEY([client])
REFERENCES [dbo].[client] ([id_client])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FKtpm6ls3xu48gs4ehulipteyjy]
GO
ALTER TABLE [dbo].[liked]  WITH CHECK ADD  CONSTRAINT [FK2bsxr9gs28bd8y8klhcuo7qmb] FOREIGN KEY([book])
REFERENCES [dbo].[book] ([id_book])
GO
ALTER TABLE [dbo].[liked] CHECK CONSTRAINT [FK2bsxr9gs28bd8y8klhcuo7qmb]
GO
ALTER TABLE [dbo].[liked]  WITH CHECK ADD  CONSTRAINT [FKqe8rx3fe5lqcfu68khxjd09yy] FOREIGN KEY([client])
REFERENCES [dbo].[client] ([id_client])
GO
ALTER TABLE [dbo].[liked] CHECK CONSTRAINT [FKqe8rx3fe5lqcfu68khxjd09yy]
GO
USE [master]
GO
