<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/book/new" method="post">
    <br>
    <label for="title">title</label>
<input type="text" id="title" name="title">
    <br>
    <label for="image">image</label>
<input type="text" id="image" name="image">
    <br>
    <label for="summary">summary</label>
<input type="text" id="summary" name="summary">
    <br>
    <label for="txt">txt</label>
<input type="text" id="txt" name="txt">
    <br>
    <label for="author">author</label>
<input type="text" id="author" name="author">
    <br>
    <label for="yearOfPublication">yearOfPublication</label>
<input type="date" id="yearOfPublication" name="yearOfPublication">
    <br>
<input type="submit">
</form>
</body>
</html>